/* ------ Primary Styles Author: Cameron Wardzala ------*/
body {padding:10px;}
h2 {font-weight:normal; font-size:18px; margin-bottom:10px;}
h3, h4, p, ul {margin-bottom:10px;}
h3 {font-size:14px;}

/* ------ Form Styles Extended styles for Twitter Bootstrap ------ */
input[type="hidden"] {display:none;}

.form .label, .form .legend {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040;
}


.form_err_wrapper { display:inline-block; }
.form_err_wrapper.hidden {display:none;}
.form_err_msg { color:red; }
.err_box { position:relative; color:red;}
.err_box label {color:red;}
.err_box input, .err_box textarea, .err_box select {background:pink;}

.spot:before, .spot:after { content:""; display:table; }
.spot:after { clear:both; }
.spot { zoom:1; }


#container {width:980px; margin:0 auto;}

#hd {border-bottom:solid 1px #444; padding-bottom:10px;}
#hd h1 {font-size:24px; margin:0;}
#hd h1 a {text-decoration: none; color:#444;}
#hd h1 a:hover, #hd h1 a:focus {text-decoration: underline; color:#444;}

nav.main { float:left; padding:6px 10px 0 ;}
nav.main ul {margin:0;}
nav.main ul li { font-size:18px; float:left; padding:0 10px; text-align:center;}
nav.main ul li.active {font-weight:bold;}
nav.main ul li a { text-decoration: none;}
nav.main ul li a:hover, nav.main ul li a:focus {text-decoration:underline;}
nav.main ul li.active a {color:#123456;}

#bd {padding:10px 0;}

#ft {padding:10px 0; border-top:solid 1px #444;}

/* ------ Clearfix ------ */
.clearfix:after, #hd:after, #bd:after, #ft:after { content:""; display:table; }
.clearfix:before, #hd:before, #bd:before, #ft:before { clear:both; content:""; display:table; }
.clearfix, #hd, #bd, #ft { zoom:1; }